06b-musiksammlung.dtd

<!ELMENT musiksammlung (album+)>

<!ELEMENT album(besityer, label, (interpret | gruppe), titel, lied*)>

<!ALTLIST album typ (CD|Vinyl|MP3|MC) "MP3"
				spielzeit CDATA #REQUIRED>

<!ELEMENT besitzer (#PCDATA)>
<!ELEMENT label (#PCDATA)>
<!ELEMENT interpret (#PCDATA)>
<!ELEMENT gruppe (#PCDATA)>
<!ELEMENT titel (#PCDATA)>
<!ELEMENT lied (#PCDATA)>