06b-musiksammlung.dtd

<!ELEMENT musiksammlung (album+)>

<!ELEMENT album (besitzer, label, (interpret | gruppe), titel, lied*)>

<!ATTLIST album typ (CD|Vinyl|MP3|MC) "MP3"
                spielzeit CDATA #REQUIRED>

<!ELEMENT besitzer (#PCDATA)>
<!ELEMENT label (#PCDATA)>
<!ELEMENT interpret (#PCDATA)>
<!ELEMENT gruppe (#PCDATA)>
<!ELEMENT titel (#PCDATA)>
<!ELEMENT lied (#PCDATA)>