uebungen/kap06-uebung-2.dtd

<!ELEMENT seminar (titel, ort, datum, zeitplan+, person+)>

<!ELEMENT titel (#PCDATA)>
<!ELEMENT ort (#PCDATA)>
<!ELEMENT datum (#PCDATA)>
<!ELEMENT zeitplan (thema+)>
<!ELEMENT person (vorname, nachname)>
<!ATTLIST person 
          anrede (Herr|Frau)
          typ (Seminarleiter|Teilnehmer)
>

<!ELEMENT thema (#PCDATA)>
<!ELEMENT vorname (#PCDATA)>
<!ELEMENT nachname (#PCDATA)>